body{
   background: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-size: cover;
   margin: 0 !important;
   background-size: 100% cover!important;
   overflow:hidden;
   display: block;
}
.postButtons{
text-align: center;
  margin-top: 16%;

}
button{
  background-color: yellow;
}
@media only screen and (max-width:768px){
  [class*="postButtons"]{
    margin-top: 28%;
  }
}

#blog{
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  background-color: white;
  background-color: rgba(0,0,0,0.6);

}
.signinm{
  margin:auto;
  background-color:#fff;
  position:relative;
  padding:15px;
  outline:0;
  max-width:300px;
}
hr{
  color: black;
}
#close{
  float:right;
  cursor: pointer;
  font-size: 22px;
}
.body1{
  display: flex;
  flex-direction: column;
}
.footer{
text-align: center;
padding:20px;
}
#cancel1{
  background-color: red;
  border: none;
  border-radius: 2px;
  padding: 4px;
  color: white;
}
.header1{
  text-align: center;
}
#submit1{
  padding: 5px;
  background-color: rgb(58, 200, 97);
  border:1px solid rgb(58, 203, 86);
  border-radius: 2px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
label{
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: sans-serif;
}
input[type=text]{
  padding:5px;
  background-color:rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 241);
  border-radius: 2px;
}
input[type=password]{
  padding: 5px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 241);
  border-radius: 2px;
}
#close2{
  float:right;
  cursor: pointer;
  font-size: 22px;
}
#close3{
  float:right;
  cursor: pointer;
  font-size: 22px;
}
